	<!-- Import jQuery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>

	<!-- Import Tether -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

	<!-- Import Bootstrap Javascript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

	<!-- MathJax -->
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

<script>

	// add Bootstrap Scrollspy to post navigation
	$('body').scrollspy({target: ".post-nav", offset: 50});

	// fix post navbar on scroll past
	var distanceFromTop = $('.post-nav').offset().top;
	$(window).scroll(function() {
		var currentScroll = $(window).scrollTop();
		if (currentScroll >= distanceFromTop) {
				$('.post-nav').addClass('fixed-top');
		} else {
			$('.post-nav').removeClass('fixed-top');
		}
	});

</script>
