<footer class='footer'>

  <div clas='navbar-footer'>

      <div class='social'>
        <span>
          <a href="https://github.com/{{ site.github_username }}">
            <img src="{{ site.baseurl }}/assets/img/github.png" width="18px" height="18px" />
          </a>
          
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <img src="{{ site.baseurl }}/assets/img/twitter.png" width="18px" height="18px" />
          </a>
        
          <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
            <img src="{{ site.baseurl }}/assets/img/linkedin.png" width="18px" height="18px" />
          </a>
        </span>
      </div>

      <div class='footer_text'>
        <p class='text-muted'>
          Copyright &nbsp;&copy;&nbsp; {{ site.time | date: '%Y' }}  |  <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </p>
      </div>
    
  </div>

</footer>