<div class='footer'>

    <span>
    <a href="https://github.com/{{ site.github_username }}" rel="tooltip" title="knanne on GitHub">
        <i class="fa fa-github fa-lg" aria-hidden="true"></i>
    </a>
    &nbsp;&nbsp;
    <a href="https://linkedin.com/in/{{ site.linkedin_username }}" rel="tooltip" title="knanne on LinkedIn">
        <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
    </a>
    &nbsp;&nbsp;
    <a href="https://twitter.com/{{ site.twitter_username }}" rel="tooltip" title="knanne on Twitter">
        <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
    </a>
    </span>

    <br>

    <span>
    <small>
        &copy; {{ site.time | date: '%Y' }} Kain Nanne
    </small>
    </span>

</div>
