<header>

    <nav class="navbar navbar-default">

          <div clas='navbar-header'>

            <!-- define title with icon -->
            <a class="navbar-brand" href="{{ site.baseurl }}">
              <!-- <span> defaults to inline -->
              <span>
                <i class="material-icons" style="font-size:50px;vertical-align:middle;">account_circle</i>
                {{ site.title }}
              </span>
            </a>

            <!-- button for navbar items when collapsed -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <!-- collapsable navbar items -->
            <div class="collapse navbar-collapse" id="navigationbar">
              <!-- loops thru navbar items in config.yaml -->
              <ul class="nav navbar-nav navbar-right">
                {% for link in site.nav-links %}
                  <li>
                    <a href="{{ site.baseurl }}/{{ link[1] }}">{{ link[0] }}</a>
                  </li>
                {% endfor %}
                  <!-- search -->
                  <li>
                    <a href="/search" class="nav-search-link" title="Search">
                      <span class="fa fa-search nav-search-icon"></span>
                      <span class="nav-search-text">Search</span>
                    </a>
                  </li>
              </ul>
            </div>

          </div>
          
    </nav>

</header>