<h4>Recent Posts</h4>
<hr>
	
<div class="subcontainer">
	{% for post in site.posts limit : 3 %}
		<a class="post-link" href="{{ post.url | relative_url }}">
			<div class="card card-hover">
				<div class="card-block">
					<h4 class="card-title">{{ post.title | escape }}</h4>
					<p class="card-text"><small class="text-muted">{{ post.date | date: "%b %-d, %Y" }}</small></p>
					<blockquote class="card-blockquote">
						<p>{{ post.excerpt | strip_html }}</p>
					</blockquote>
				</div>
			</div>
		</a>
	{% endfor %}
</div>