<div id="container" class="container">
	
	<h4>Recent Posts</h4>
	
	<div class="subcontainer">

		{% for post in site.posts limit : 3 %}
			<div class="post_box">
		    	<a href="{{ site.baseurl }}{{ post.url }}">
					<img src="{{ site.baseurl }}{{ post.image }}" width="160px" height="90px" class="post_box_img">
					<br>
					<a class="post_box_text" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
					<br>
					<a class="text-muted" href="{{ site.baseurl }}{{ post.url }}">{{ post.date | date: "%b %-d, %Y" }}</a>
				</a>
			</div>
		{% endfor %}

	</div>

</div>