<div id="container" class="container">
	
	<h4>Recent Posts</h4>
	
	<div class="subcontainer">

		<ul class="post-list">
	    	{% for post in site.posts limit : 3 %}
		    	<li>

			        <!-- title -->
			        <h3>
			          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
			        </h3>
			        
			        <!-- date -->
			        <p class="text-muted">{{ post.date | date: "%b %-d, %Y" }}</p>

			        <!-- excerpt -->
			        <p>{{ post.excerpt | strip_html }}</p>

			        <!-- buffer next post -->
			        <br>

		      	</li>
	    	{% endfor %}
	  	</ul>

	</div>

</div>