<h4>Recent Posts</h4>
<hr>

<div class="subcontainer">
		{% for post in site.posts limit : 3 %}
			<a href="{{ site.baseurl }}{{ post.url }}" rel="tooltip" title="View Post">
				<div class="card card-hover d-inline-flex justify-content-center">
					<div class="card-block">
						<h4 class="card-title">{{ post.title }}</h4>
						<p class="card-text">
							<small class="text-muted">{{ post.date | date: "%b %-d, %Y" }}</small>
						</p>
						<small class="card-tags text-right">
							{% for tag in post.tags %}
								<a href="{{ site.base_url }}/tags/#{{ tag }}" rel="tooltip" title="View Tag">#{{ tag }} </a>
							{% endfor %}
						</small>
					</div>
				</div>
			</a>
		{% endfor %}
</div>
