<!-- LinkedIn Profile Card -->
<a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" rel="tooltip" title="View on LinkedIn">
  <div class="card card-hover d-flex">
    <div class="card-header text-right">
      <img class="card-img" src="\assets\img\In-2C-34px-R.png">
    </div>
    <div class="card-block text-left">
      <h5 class="card-title">Kain Nanne</h5>
      <p class="card-text text-muted">
        <strong>Data Analyst Consultant</strong>
        <br>
        <small>Des Moines, Iowa</small>
        <br>
        MSc. Information Sciences
      </p>
    </div>
  </div>
</a>
