<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    {% if page.is_home %}
      <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
    {% endif %}
    {% include head_scripts.html %}
  </head>

  <body>

    <header>{% include header.html %}</header>
    <main class="container">{{ content }}</main>
    <footer>{% include footer.html %}</footer>

  </body>

  {% include foot_scripts.html %}

</html>
