---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header card">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
    </p>
  </header>

  <br>

  <div class="post-box">
    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>
  </div>

  <br>

  <footer class="post-footer card">
    <p class="post-meta">
      <a class='text-muted'> Last Modified: {{ page.last-modified-date | date: "%b %-d, %Y at %H:%M" }} </a>
      <br>
      <b>Tags:</b>
      {% for tag in page.tags %}
        <a ref="{{ site.baseurl }}{{ tag }}">#{{ tag }}</a>
      {% endfor %}
    </p>
  </footer>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}

</article>