---
layout: default
---

    <div class="post">
      <article itemscope itemtype="http://schema.org/BlogPosting">
        <header class="post-header">
          <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
          <p class="post-meta">
            <b>Category:</b>
            {% for cat in page.categories %}
              <a href="{{ site.base_url }}/posts/#{{ cat }}" rel="tooltip" title="Go to Category" itemprop="genre">{{ cat }}{% unless forloop.last %}, {% endunless %}</a>
            {% endfor %}
            <time class="pull-right" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
          </p>
          <!-- post excerpt used only in cards
          <p class="lead" itemprop="about">{{ page.excerpt | strip_html }}</p> -->
        </header>

        <div class="post-content" itemprop="articleBody">
          {{ page.content | remove: page.excerpt }}
        </div>
        <br>
        <footer class="post-footer">
          <p class="post-meta">
            <a class="pull-left" href="https://github.com/knanne/knanne.github.io/commits/master/{{ page.path }}" rel="tooltip" title="View History on GitHub" ><span class="text-muted">revision history</span></a>
            <!-- last-modified-date Plugin Not Available on GitHub Pages
            {% unless page.last-modified-date == nil %}
              <time class='text-muted' datetime="{{ page.last-modified-date | date_to_xmlschema }}" itemprop="dateModified">Last Modified: {{ page.last-modified-date | date: "%b %-d, %Y at %H:%M" }}</time>
            {% endunless %}
            -->
            <span class="pull-right">
              <b>Tags:</b>
              {% for tag in page.tags %}
                <a href="{{ site.base_url }}/tags/#{{ tag }}" rel="tooltip" title="Go to Tag" itemprop="keywords">{{ tag }}{% unless forloop.last %}, {% endunless %}</a>
              {% endfor %}
            </span>
          </p>
        </footer>
      </article>

      <br>
      <br>

      {% if page.share %}
        {% include integrations/post_share_buttons.html %}
      {% endif %}

      <br>
      <br>

      {% if page.comments %}
        {% include integrations/post_comments.html %}
      {% endif %}

    </div>

    <!-- BackToTop Button -->
    <i id="back2top" class="material-icons icon-3d" rel="tooltip" title="Back to Top">arrow_drop_down_circle</i>
